<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2f302f">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body oncontextmenu="return false">
    
    

  <main id="content" class="main-content" role="main">    
  <div class=”gallery”>                                                                                                                                                                 
  
  <figure class=”gallery__item gallery__item--1">
   <img src="https://i.imgur.com/bDSp1B5.gif" class="gallery__img" alt="renderLogo">
  </figure>  
    
  <figure class=”gallery__item gallery__item--2">
   <img src="https://thumbs.gfycat.com/AlertGraciousBee-size_restricted.gif" class="gallery__img" alt="digiBust">
  </figure>
  
  <figure class="gallery__item gallery__item--3"> 
   <img src="https://i.imgur.com/u22c6fJ.png" class="gallery__img" alt="blueBust">
  </figure>
  
  <figure class="gallery__item gallery__item--4"> 
   <img src="https://thumbs.gfycat.com/FirmAchingDoctorfish-size_restricted.gif" class="gallery__img" alt="flamePool">
  </figure>  
    
  <figure class="gallery__item gallery__item--5">
    <img src="https://thumbs.gfycat.com/ImpassionedEnviousAdder-size_restricted.gif" class="gallery__img" alt="redLava">
  </figure>                                                                                                                                                                                              
    
  <figure class="gallery__item gallery__item--6">
    <img src="https://thumbs.gfycat.com/TatteredMedicalArgentineruddyduck-size_restricted.gif" class="gallery__img" alt="redCreep">
  </figure>  
    
  <figure class="gallery__item gallery__item--7">
    <img src="https://i.imgur.com/2oMRj61.png" class="gallery__img" alt="spaceThonkR">
  </figure>
    
  <figure class="gallery__item gallery__item--8">
    <img src="https://i.imgur.com/LUqdG3w.jpg" class="gallery__img" alt="spaceThonkL">
  </figure>  
    
  <figure class="gallery__item gallery__item--9">
    <img src="https://i.imgur.com/H5nJTye.png" class="gallery__img" alt="hellThonk">
  </figure>

</div>
     
                                                                                 
      {{ content }}

      <footer class="site-footer">
  
      </footer>
                                 
    </main>
  </body>
</html>
